body{
    background: rgb(101,133,208);
background: radial-gradient(circle, rgba(101,133,208,1) 19%, rgba(101,208,206,1) 35%, rgba(63,94,251,1) 47%, rgba(70,185,252,1) 58%);
text-align: center;

}